h2{
  display: inline-block;
 line-height: 50px;
 width: 50px;
  border-style: solid;
width: 80px;
border-radius: 5px;
align-items: center;
justify-content: center;
background-color: rgb(234, 228, 228);
border-collapse: collapse;
margin: 0;
}
#head{
width: 370px;
 margin-bottom: 40px;
text-align: right;
}
body{
   
    background: linear-gradient(to bottom left ,rgb(121, 1, 151), rgb(0, 0, 0));
    background-repeat: no-repeat;
   height: 918px;
   margin-top: 100px;
}
#text{
    background-color: rgb(47, 14, 238);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
div{
    background-color: white;
    margin: 10px 400px 10px 400px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px
}
h2{
    margin: 5px;
}


